<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Настройки
    </h1>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-6">
    <form role="form" [formGroup]="fileForm" (ngSubmit)="onFileSubmit()">
      <fieldset class="form-group">
        <label>Ссылка на файл</label>
        <input type="text" class="form-control" formControlName="link">
      </fieldset>
      <button type="submit" class="btn btn-info">Загрузить файл</button>
    </form>
  </div>
</div>